body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #FDFDFD;
}

#mapaContainer {
    position: relative;
}



button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#zoomButtons {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#zoomButtons button {
    margin: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#thumbnail {
    position: absolute;
    display: none;
    z-index: 1000;
    border: 1px solid #000;
    background-color: #fff;
    padding: 5px;
}

#thumbnail img {
    max-width: 200px;
    max-height: 200px;
}



.legendaItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    
}
.legendaItem * {
    font-size: 14px;
}


.legendaCor {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.sala {
    background-color: #184BC4;
}

.escada {
    background-color: #F17C7E;
}

.centro{
    background-color: #46C418;
}

.elevador{
    background-color: purple;
}

#legendTitle{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

@media(max-height: 500px) {
    body {
        padding: 180px 280px;
    }

    #mapaCanvas {
        margin-left: 200px;
    }
}