body {
    margin: 0;
}

.predio-title {
    margin-top: 50px;
    font-size: 48px;
    color: #FF4444;
}

.andar-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.pcd-option {
    margin-left: 10px;
    display: flex;
    gap: 10px;
    font-size: 18px
}

.pcd-check {
    margin-left: 10px;
    transform: scale(2);
}

.search-input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    font-size: 18px;
    border: 2px solid #4086F3;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.botao {
    width: 30%;
    height: 70px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
    background-color: #4086F3;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botao:hover {
    background-color: #fff;
    color: #4086F3;
    transform: translateY(-5px);
    border: #4086F3 1px solid;
}

.icon {
    font-size: 36px;
}

.botoesDestino {
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
    width: 50%;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 15px;
}

/* Rodapé */
footer {
    width: 100%;
    height: 60px;
    background-color: transparent;
}

#infoButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #FF4444;
    font-size: 24px;
    border: #FF4444 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.footer-text {
    font-size: 18px;
}

#logo {
    position: absolute;
    left: 30px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 20px;
}

#container_predios {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}