body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%1;

    gap: 50px;
}

.title {
    font-size: 32px;
}

.icon {
    font-size: 120px !important;
}

.text-card {
    font-size: 32px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #4086F3;
    gap: 5px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 45vw;
    height: 80vh;
}

.card:hover {
    background-color: #fff;
    color: #4086F3;
    border: 1px solid #4086F3;
}

/* Rodapé */
footer {
    width: 100%;
    height: 60px;
    background-color: transparent;
}

#info-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #FF4444;
    font-size: 24px;
    border: #FF4444 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.footer-text {
    font-size: 18px;
}



#logo {
    position: absolute;
    left: 30px;
}