<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Mapa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapa.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <button id="btnVoltar" onclick="window.location.href='/'"><span class="material-symbols-outlined">undo</span></button>
    <div id="mapaContainer">
        <select id="andarDisplay">
            <option value="Terreo" selected>Térreo</option>
            <option value="Primeiro">Primeiro Andar</option>
            <option value="Segundo">Segundo Andar</option>
            <option value="MB">MB</option>
            <option value="MB1">MB1</option>
            <option value="MB2">MB2</option>
        </select>

        <canvas id="mapaCanvas" width="1200" height="720"></canvas>

        <div id="zoomButtons">
            <button id="zoomInButton">+</button>
            <button id="zoomOutButton">-</button>
        </div>

        <div id="thumbnail">
            <img src="" alt="Miniatura" />
        </div>

        <div id="legendaContainer">
            <label id="legendTitle">Legendas</label>
            <div class="legendaItem">
                <div class="legendaCor sala"></div> Sala
            </div>
            <div class="legendaItem">
                <div class="legendaCor escada"></div> Escada
            </div>
            <div class="legendaItem">
                <div class="legendaCor centro"></div> Centro
            </div>
            <div class="legendaItem">
                <div class="legendaCor elevador"></div> Elevador
            </div>
        </div>        
        
    </div>
    
</body>

</html>

<script>
    function verificaAndar(andar) {
        if (andar == 0) {
            valor = 'Terreo';
        } else if (andar == 1) {
            valor = 'Primeiro';
        } else if (andar == 2) {
            valor = 'Segundo';
        } else if (andar == 'MB') {
            valor = 'MB';
        } else if (andar == 'MB1') {
            valor = 'MB1';
        } else if (andar == 'MB2') {
            valor = 'MB2'
        }

        return valor;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const arestas = JSON.parse(localStorage.getItem('arestas')) || [];

        const zoomInButton = document.getElementById('zoomInButton');
        const zoomOutButton = document.getElementById('zoomOutButton');

        const thumbnail = document.getElementById('thumbnail');
        const canvas = document.getElementById('mapaCanvas');
        const ctx = canvas.getContext('2d');
        const andarDisplay = document.getElementById('andarDisplay');

        let isPanning = false;
        let startX = 0;
        let startY = 0;
        let offsetX = 0;
        let offsetY = 0;

        let scale = 1;
        let currentFloor = verificaAndar(0);
        let validaAndar = 0;

        // Eventos de zoom
        zoomInButton.addEventListener('click', function () {
            scale *= 1.2; // Aumenta a escala
            draw();
        });

        zoomOutButton.addEventListener('click', function () {
            scale /= 1.2; // Diminui a escala
            draw();
        });

        // Offsets de coordenadas
        const offset_x_terreo = 0;
        const offset_y_terreo = 0;
        const offset_x_primeiro = 150;
        const offset_y_primeiro = 70;
        const offset_x_segundo = 0;
        const offset_y_segundo = 0;
        const offset_x_mb = 50;
        const offset_y_mb = 0;
        const offset_x_mb1 = 150;
        const offset_y_mb1 = 0;
        const offset_x_mb2 = 150;
        const offset_y_mb2 = 0;
        // Definindo as posições das salas para diferentes andares
        const positions = {
            "Terreo": {
                "Portaria":         [652+offset_x_terreo, 643+offset_y_terreo],
                "C0":               [652+offset_x_terreo, 601+offset_y_terreo],
                "TI":               [606+offset_x_terreo, 601+offset_y_terreo],
                "Xerox":            [504+offset_x_terreo, 601+offset_y_terreo],
                "Lab. Info. Geral": [432+offset_x_terreo, 646+offset_y_terreo],
                "Escada A":         [387+offset_x_terreo, 601+offset_y_terreo],
                "Escada B":         [825+offset_x_terreo, 151+offset_y_terreo],
                "Escada C":         [915+offset_x_terreo, 287+offset_y_terreo],
                "Escada D":         [915+offset_x_terreo, 601+offset_y_terreo],
                "Escada F":         [516+offset_x_terreo, 62+offset_y_terreo],
                "Elevador":         [561+offset_x_terreo, 62+offset_y_terreo],
                "C1":               [432+offset_x_terreo, 601+offset_y_terreo],
                "C2":               [432+offset_x_terreo, 556+offset_y_terreo],
                "C3":               [432+offset_x_terreo, 488+offset_y_terreo],
                "C4":               [432+offset_x_terreo, 444+offset_y_terreo],
                "C5":               [432+offset_x_terreo, 399+offset_y_terreo],
                "C6":               [432+offset_x_terreo, 342+offset_y_terreo],
                "C7":               [432+offset_x_terreo, 309+offset_y_terreo],
                "C8":               [432+offset_x_terreo, 275+offset_y_terreo],
                "C9":               [432+offset_x_terreo, 242+offset_y_terreo],
                "Ref./Cantina":     [432+offset_x_terreo, 197+offset_y_terreo],
                "C10":              [485+offset_x_terreo, 197+offset_y_terreo],
                "C11":              [606+offset_x_terreo, 197+offset_y_terreo],
                "C12":              [652+offset_x_terreo, 197+offset_y_terreo],
                "C13":              [825+offset_x_terreo, 197+offset_y_terreo],
                "Biblioteca":       [882+offset_x_terreo, 197+offset_y_terreo],
                "C14":              [882+offset_x_terreo, 242+offset_y_terreo],
                "C15":              [882+offset_x_terreo, 287+offset_y_terreo],
                "C16":              [882+offset_x_terreo, 398+offset_y_terreo],
                "C17":              [882+offset_x_terreo, 511+offset_y_terreo],
                "C18":              [882+offset_x_terreo, 556+offset_y_terreo],
                "C19":              [882+offset_x_terreo, 601+offset_y_terreo],
                "C20":              [852+offset_x_terreo, 601+offset_y_terreo],
                "C21":              [485+offset_x_terreo, 159+offset_y_terreo],
                "C22":              [485+offset_x_terreo, 107+offset_y_terreo],
                "C23":              [516+offset_x_terreo, 107+offset_y_terreo],
                "C24":              [561+offset_x_terreo, 107+offset_y_terreo],
                "C25":              [485+offset_x_terreo, 33+offset_y_terreo],
                "WC/Vest. M":       [387+offset_x_terreo, 275+offset_y_terreo],
                "WC/Vest. F":       [387+offset_x_terreo, 242+offset_y_terreo],
                "WC Familia":       [606+offset_x_terreo, 152+offset_y_terreo],
                "WC Cantina":       [541+offset_x_terreo, 159+offset_y_terreo],
                "Sala Prof.":       [652+offset_x_terreo, 152+offset_y_terreo],
                "Sala Prof. 1":     [387+offset_x_terreo, 342+offset_y_terreo],
                "Sala Prof. 2":     [387+offset_x_terreo, 309+offset_y_terreo],
                "Centro":           [652+offset_x_terreo, 398+offset_y_terreo],
                "Sala Estágio":     [852+offset_x_terreo, 646+offset_y_terreo],
                "Pastoral":         [387+offset_x_terreo, 556+offset_y_terreo],
                "Diretoria":        [387+offset_x_terreo, 488+offset_y_terreo],
                "Lab. AutoCad":     [387+offset_x_terreo, 444+offset_y_terreo],
                "Social":           [915+offset_x_terreo, 556+offset_y_terreo],
                "Secretaria":       [915+offset_x_terreo, 511+offset_y_terreo],
                "Coordenação":      [915+offset_x_terreo, 398+offset_y_terreo],
                "Cant. Leitura":    [915+offset_x_terreo, 242+offset_y_terreo],
                "Quadra":           [343+offset_x_terreo, 197+offset_y_terreo],
                "Sala Arquivo":     [606+offset_x_terreo, 107+offset_y_terreo],
                "Capela":           [383+offset_x_terreo, 646+offset_y_terreo],
                "Corredor S.J.":    [343+offset_x_terreo, 399+offset_y_terreo],
                "Estacionamento":   [745+offset_x_terreo, 33+offset_y_terreo],
                "Entrada Prédio M.B.": [429+offset_x_terreo, 33+offset_y_terreo],
            },
            "Primeiro": {
                "Escada A":             [150+offset_x_primeiro, 500+offset_y_primeiro],
                "Escada B":             [565+offset_x_primeiro, 119+offset_y_primeiro],
                "Escada C":             [680+offset_x_primeiro, 220+offset_y_primeiro],
                "Escada D":             [680+offset_x_primeiro, 500+offset_y_primeiro],
                "Escada F":             [295+offset_x_primeiro, 40+offset_y_primeiro],
                "Elevador":             [325+offset_x_primeiro, 40+offset_y_primeiro],
                "C26":                  [180+offset_x_primeiro, 500+offset_y_primeiro],
                "C27":                  [230+offset_x_primeiro, 380+offset_y_primeiro],
                "C28":                  [230+offset_x_primeiro, 285+offset_y_primeiro],
                "C29":                  [230+offset_x_primeiro, 227+offset_y_primeiro],
                "C30":                  [230+offset_x_primeiro, 156+offset_y_primeiro],
                "C31":                  [230+offset_x_primeiro, 85+offset_y_primeiro],
                "C32":                  [325+offset_x_primeiro, 85+offset_y_primeiro],
                "C33":                  [270+offset_x_primeiro, 85+offset_y_primeiro],
                "C34":                  [295+offset_x_primeiro, 85+offset_y_primeiro],
                "C35":                  [360+offset_x_primeiro, 85+offset_y_primeiro],
                "C36":                  [395+offset_x_primeiro, 85+offset_y_primeiro],
                "C37":                  [430+offset_x_primeiro, 85+offset_y_primeiro],
                "C38":                  [475+offset_x_primeiro, 85+offset_y_primeiro],
                "C38.1":                [475+offset_x_primeiro, 40+offset_y_primeiro],
                "C39":                  [520+offset_x_primeiro, 85+offset_y_primeiro],
                "C40":                  [565+offset_x_primeiro, 85+offset_y_primeiro],
                "C41":                  [620+offset_x_primeiro, 85+offset_y_primeiro],
                "C42":                  [620+offset_x_primeiro, 120+offset_y_primeiro],
                "C43":                  [620+offset_x_primeiro, 220+offset_y_primeiro],
                "C44":                  [620+offset_x_primeiro, 275+offset_y_primeiro],
                "C45":                  [620+offset_x_primeiro, 323+offset_y_primeiro],
                "C46":                  [620+offset_x_primeiro, 371+offset_y_primeiro],
                "C47":                  [620+offset_x_primeiro, 419+offset_y_primeiro],
                "C48":                  [620+offset_x_primeiro, 467+offset_y_primeiro],
                "C49":                  [620+offset_x_primeiro, 500+offset_y_primeiro],
                "C50":                  [515+offset_x_primeiro, 500+offset_y_primeiro],
                "C51":                  [425+offset_x_primeiro, 500+offset_y_primeiro],
                "C52":                  [335+offset_x_primeiro, 500+offset_y_primeiro],
                "C53":                  [255+offset_x_primeiro, 500+offset_y_primeiro],
                "Sala Infra":           [180+offset_x_primeiro, 475+offset_y_primeiro],
                "Salão do Juri":        [230+offset_x_primeiro, 500+offset_y_primeiro],
                "Obs. V.E.":            [680+offset_x_primeiro, 467+offset_y_primeiro],
                "Audio Visual":         [680+offset_x_primeiro, 85+offset_y_primeiro],
                "Auditorio":            [230+offset_x_primeiro, 40+offset_y_primeiro],
                "Banheiro M":           [445+offset_x_primeiro, 40+offset_y_primeiro],
                "Banheiro F":           [505+offset_x_primeiro, 40+offset_y_primeiro],
                "Sala C2":              [200+offset_x_primeiro, 380+offset_y_primeiro],
                "Sala C3":              [200+offset_x_primeiro, 285+offset_y_primeiro],
                "Sala C4":              [200+offset_x_primeiro, 227+offset_y_primeiro],
                "Sala E2":              [680+offset_x_primeiro, 419+offset_y_primeiro],
                "Sala E3":              [680+offset_x_primeiro, 371+offset_y_primeiro],
                "Sala E4":              [680+offset_x_primeiro, 323+offset_y_primeiro],
                "Sala E5":              [680+offset_x_primeiro, 275+offset_y_primeiro],
                "DD101":                [270+offset_x_primeiro, 40+offset_y_primeiro],
                "DD102":                [200+offset_x_primeiro, 156+offset_y_primeiro],
                "DD104":                [360+offset_x_primeiro, 120+offset_y_primeiro],
                "DD105":                [620+offset_x_primeiro, 40+offset_y_primeiro],
                "DD106":                [520+offset_x_primeiro, 120+offset_y_primeiro],
                "DD107":                [680+offset_x_primeiro, 120+offset_y_primeiro],
                "DD109":                [430+offset_x_primeiro, 120+offset_y_primeiro],
                "DD110":                [395+offset_x_primeiro, 40+offset_y_primeiro],
                "Lab.03":               [255+offset_x_primeiro, 525+offset_y_primeiro],
                "Lab.04":               [335+offset_x_primeiro, 525+offset_y_primeiro],
                "Lab.05":               [425+offset_x_primeiro, 525+offset_y_primeiro],
                "Lab.06":               [515+offset_x_primeiro, 525+offset_y_primeiro],
            },
            "Segundo": {
                "Escada F": [295+offset_x_segundo, 40+offset_y_mb],
                "Elevador": [325+offset_x_segundo, 40+offset_y_mb],
                "C28":      [50+offset_x_segundo, 500+offset_y_mb],
                "Sala 301": [100+offset_x_segundo, 400+offset_y_mb],
            },
            "MB": {
                "Entrada Prédio M.B.":  [400+offset_x_mb, 500+offset_y_mb],
                "Oficina/Aero Unisal":  [400+offset_x_mb, 200+offset_y_mb],
                "C101":                 [400+offset_x_mb, 410+offset_y_mb],
                "Lab. Mec./Projeto":    [330+offset_x_mb, 410+offset_y_mb],
                "Saida Prédio M.B.":    [450+offset_x_mb, 410+offset_y_mb],
                "C102":                 [400+offset_x_mb, 375+offset_y_mb],
                "Escada M.B.":          [430+offset_x_mb, 375+offset_y_mb],
                "C103":                 [400+offset_x_mb, 340+offset_y_mb],
                "Lab. Mecanica":        [330+offset_x_mb, 340+offset_y_mb],
                "Elevador M.B.":        [430+offset_x_mb, 340+offset_y_mb],
                "C104":                 [400+offset_x_mb, 285+offset_y_mb],
                "Banheiros":            [480+offset_x_mb, 285+offset_y_mb],
                "C105":                 [560+offset_x_mb, 410+offset_y_mb],
                "Lab. Civil":           [560+offset_x_mb, 100+offset_y_mb],
                "C106":                 [330+offset_x_mb, 100+offset_y_mb],
                "Estacionamento":       [630+offset_x_mb, 285+offset_y_mb],
            },
            "MB1": {
                "Escada M.B.":      [480+offset_x_mb1, 375+offset_y_mb1],
                "Elevador M.B.":    [480+offset_x_mb1, 340+offset_y_mb1],
                "C107":             [400+offset_x_mb1, 375+offset_y_mb1],
                "C108":             [400+offset_x_mb1, 340+offset_y_mb1],
                "C109":             [400+offset_x_mb1, 260+offset_y_mb1],
                "C110":             [400+offset_x_mb1, 180+offset_y_mb1],
                "MB07":             [400+offset_x_mb1, 100+offset_y_mb1],
                "MB08":             [320+offset_x_mb1, 340+offset_y_mb1],
                "MB09":             [400+offset_x_mb1, 435+offset_y_mb1],
                "LMI":              [320+offset_x_mb1, 260+offset_y_mb1],
                "Banheiros 1":      [480+offset_x_mb1, 180+offset_y_mb1],
            },
            "MB2": {
                "Escada M.B.":      [480+offset_x_mb2, 375+offset_y_mb2],
                "Elevador M.B.":    [480+offset_x_mb2, 340+offset_y_mb2],
                "C111":             [400+offset_x_mb2, 375+offset_y_mb2],
                "C112":             [400+offset_x_mb2, 340+offset_y_mb2],
                "C113":             [400+offset_x_mb2, 260+offset_y_mb2],
                "C114":             [400+offset_x_mb2, 180+offset_y_mb2],
                "MB01":             [400+offset_x_mb2, 435+offset_y_mb2],
                "MB02":             [370+offset_x_mb2, 465+offset_y_mb2],
                "MB03":             [320+offset_x_mb2, 340+offset_y_mb2],
                "MB04":             [320+offset_x_mb2, 260+offset_y_mb2],
                "MB05/MB06":        [400+offset_x_mb2, 100+offset_y_mb2],
                "Banheiros 2":      [480+offset_x_mb2, 180+offset_y_mb2],
            }
        };

        function draw() {

            ctx.clearRect(0, 0, canvas.width, canvas.height); // Limpa o canvas

            // Aplica o deslocamento
            ctx.save();
            ctx.translate(offsetX, offsetY);
            ctx.scale(scale, scale);

            // Desenhar as arestas
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 1;
            arestas.forEach(([u, v, weight]) => {
                if (positions[currentFloor][u] && positions[currentFloor][v]) {
                    const [x1, y1] = positions[currentFloor][u];
                    const [x2, y2] = positions[currentFloor][v];
                    ctx.beginPath();
                    ctx.moveTo(x1 + 10, y1 + 10);
                    ctx.lineTo(x2 + 10, y2 + 10);
                    ctx.stroke();
                }
            });

            // Desenhar as salas
            ctx.fillStyle = 'lightgrey';
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 2;

            Object.keys(positions[currentFloor]).forEach(key => {
                const [x, y] = positions[currentFloor][key];
                const width = 20;
                const height = 20;
                const centerX = x + width / 2;
                const centerY = y + height / 2;

                const isNotCPlusNumber = !/^C\d/.test(key);

                if (isNotCPlusNumber) {
                    // Colorindo escadas
                    if(key.startsWith('Escada')) {
                        ctx.fillStyle = '#F17C7E';
                    }
                    else if(key.startsWith('Centro')){
                        ctx.fillStyle = '#46C418'
                    }
                    else {
                        ctx.fillStyle = '#184BC4';
                    }

                    ctx.beginPath();
                    ctx.rect(x, y, width, height);
                    ctx.fill();
                    ctx.stroke();

                    ctx.fillStyle = 'black';
                    ctx.font = '12px Arial';
                    ctx.textAlign = 'center';

                    const inferior = ['Portaria', 'Sala Estágio', 'Lab. Info. Geral', 'Xerox', 'TI', 'Lab.03', 'Lab.04', 'Lab.05', 'Lab.06', 'DD104', 'DD109', 'DD106', 'Saida Prédio M.B.']
                    const esquerda = ['Pastoral', 'Diretoria', 'Escada A', 'Lab. AutoCad', 'Corredor S.J.', 'Sala Prof. 1', 'Sala Prof. 2', 'WC/Vest. M', 'WC/Vest. F', 'Sala C3', 'Sala C4', 'DD102', 'Lab. Mecanica', 'Lab. Mecd./Projeto']
                    const direita  = ['Social', 'Escada D', 'Secretaria', 'Coordenação', 'Escada C', 'Cant. Leitura', 'Obs. V.E.', 'Sala E2', 'Sala E3', 'Sala E4', 'Sala E5', 'DD107', 'Audio Visual', 'Estacionamento', 'Elevador M.B.', 'Escada M.B.']

                    if (inferior.includes(key)) {
                        // Alinha a baixo
                        ctx.textBaseline = 'bottom';
                        ctx.fillText(key, centerX, y + 40);

                    } else if (esquerda.includes(key)) {
                        // Alinha a esquerda
                        ctx.textBaseline = 'middle';
                        ctx.textAlign = 'right'; // Texto à esquerda
                        ctx.fillText(key, x - 10, centerY);

                    } else if (direita.includes(key)) {
                        // Alinha a direita
                        ctx.textBaseline = 'middle';
                        ctx.textAlign = 'left'; // Texto à direita
                        ctx.fillText(key, x + width + 10, centerY);

                    } else {
                        // Alinha a cima
                        ctx.textBaseline = 'bottom';
                        ctx.fillText(key, centerX, y - 5);
                    }  

                }

            });

            ctx.restore(); // Restaura o estado do canvas

        }

        andarDisplay.addEventListener('change', setAndar);

        canvas.addEventListener('mousedown', function (event) {
            const rect = canvas.getBoundingClientRect();
            const x = (event.clientX - rect.left) / scale;
            const y = (event.clientY - rect.top) / scale;

            const salas = positions[currentFloor];
            for (const [name, pos] of Object.entries(salas)) {
                if (x >= pos[0] && x <= pos[0] + 20 && y >= pos[1] && y <= pos[1] + 20) {
                    // Exibe a miniatura
                    let left = `${event.clientX}` - 210
                    let top = `${event.clientY}` - 20

                    const thumbnailImage = thumbnail.querySelector('img');
                    thumbnailImage.src = `/static/img/${name}.jpeg`;
                    thumbnail.style.left = left + 'px';
                    thumbnail.style.top = top + 'px';
                    thumbnail.style.transform = 'translate(-50%, -100%)';
                    thumbnail.style.display = 'block';
                    break;
                }
            }
        });

        canvas.addEventListener('mouseup', function (event) {
            thumbnail.style.display = 'none'; // Esconde a miniatura ao mover o mouse
        });


        draw();

        function setAndar() {
            const andarDisplay = document.getElementById('andarDisplay');
            const andarSelecionado = andarDisplay.value;

            // Atualiza o andar atual
            currentFloor = andarSelecionado;
            draw(); // Redesenha o canvas
        }
    });

</script>