<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Mapa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}">
    <script src="{{ url_for('static', filename='js/map-positions.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="mapa-body">
    <button id="btn-voltar" onclick="window.location.href='/'"><span
            class="material-symbols-outlined">undo</span></button>
    <div class="responsive-container">
        <div id="mapa-container">
            <select id="andar-display">
                <option value="Terreo" selected>Térreo</option>
                <option value="Primeiro">Primeiro Andar</option>
                <option value="Segundo">Segundo Andar</option>
                <option value="MB">MB</option>
                <option value="MB1">MB1</option>
                <option value="MB2">MB2</option>
            </select>

            <canvas id="mapa-canvas" width="1200" height="720"></canvas>

            <div id="zoom-buttons">
                <button id="zoom-in-button">+</button>
                <button id="zoom-out-button">-</button>
            </div>

            <div id="thumbnail">
                <img src="" alt="Miniatura" />
            </div>

            <div id="legenda-container">
                <label id="legenda-title">Legendas</label>
                <div class="legenda-item">
                    <div class="legenda-cor sala"></div> Sala
                </div>
                <div class="legenda-item">
                    <div class="legenda-cor escada"></div> Escada
                </div>
                <div class="legenda-item">
                    <div class="legenda-cor centro"></div> Centro
                </div>
                <div class="legenda-item">
                    <div class="legenda-cor elevador"></div> Elevador
                </div>
            </div>

        </div>
    </div>

</body>

</html>

<script>
    function verificaAndar(andar) {
        if (andar == 0) {
            valor = 'Terreo';
        } else if (andar == 1) {
            valor = 'Primeiro';
        } else if (andar == 2) {
            valor = 'Segundo';
        } else if (andar == 'MB') {
            valor = 'MB';
        } else if (andar == 'MB1') {
            valor = 'MB1';
        } else if (andar == 'MB2') {
            valor = 'MB2'
        }

        return valor;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const arestas = JSON.parse(localStorage.getItem('arestas')) || [];

        const zoomInButton = document.getElementById('zoom-in-button');
        const zoomOutButton = document.getElementById('zoom-out-button');

        const thumbnail = document.getElementById('thumbnail');
        const canvas = document.getElementById('mapa-canvas');
        const ctx = canvas.getContext('2d');
        const andarDisplay = document.getElementById('andar-display');

        let isPanning = false;
        let startX = 0;
        let startY = 0;
        let offsetX = 0;
        let offsetY = 0;

        let scale = 1;
        let currentFloor = verificaAndar(0);
        let validaAndar = 0;

        // Eventos de zoom
        zoomInButton.addEventListener('click', function () {
            scale *= 1.2; // Aumenta a escala
            draw();
        });

        zoomOutButton.addEventListener('click', function () {
            scale /= 1.2; // Diminui a escala
            draw();
        });

        function draw() {

            ctx.clearRect(0, 0, canvas.width, canvas.height); // Limpa o canvas

            // Aplica o deslocamento
            ctx.save();
            ctx.translate(offsetX, offsetY);
            ctx.scale(scale, scale);

            // Desenhar as arestas
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 1;
            arestas.forEach(([u, v, weight]) => {
                if (positions[currentFloor][u] && positions[currentFloor][v]) {
                    const [x1, y1] = positions[currentFloor][u];
                    const [x2, y2] = positions[currentFloor][v];
                    ctx.beginPath();
                    ctx.moveTo(x1 + 10, y1 + 10);
                    ctx.lineTo(x2 + 10, y2 + 10);
                    ctx.stroke();
                }
            });

            // Desenhar as salas
            ctx.fillStyle = 'lightgrey';
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 2;

            Object.keys(positions[currentFloor]).forEach(key => {
                const [x, y] = positions[currentFloor][key];
                const width = 20;
                const height = 20;
                const centerX = x + width / 2;
                const centerY = y + height / 2;

                const isNotCPlusNumber = !/^C\d/.test(key);

                if (isNotCPlusNumber) {
                    // Colorindo escadas
                    if (key.startsWith('Escada')) {
                        ctx.fillStyle = '#F17C7E';
                    }
                    else if (key.startsWith('Centro')) {
                        ctx.fillStyle = '#46C418'
                    }
                    else {
                        ctx.fillStyle = '#184BC4';
                    }

                    ctx.beginPath();
                    ctx.rect(x, y, width, height);
                    ctx.fill();
                    ctx.stroke();

                    ctx.fillStyle = 'black';
                    ctx.font = '12px Arial';
                    ctx.textAlign = 'center';

                    const inferior = ['Portaria', 'Sala Estágio', 'Lab. Info. Geral', 'Xerox', 'TI', 'Lab.03', 'Lab.04', 'Lab.05', 'Lab.06', 'DD104', 'DD109', 'DD106', 'Saida Prédio M.B.']
                    const esquerda = ['Pastoral', 'Diretoria', 'Escada A', 'Lab. AutoCad', 'Corredor S.J.', 'Sala Prof. 1', 'Sala Prof. 2', 'WC/Vest. M', 'WC/Vest. F', 'Sala C3', 'Sala C4', 'DD102', 'Lab. Mecanica', 'Lab. Mecd./Projeto']
                    const direita = ['Social', 'Escada D', 'Secretaria', 'Coordenação', 'Escada C', 'Cant. Leitura', 'Obs. V.E.', 'Sala E2', 'Sala E3', 'Sala E4', 'Sala E5', 'DD107', 'Audio Visual', 'Estacionamento', 'Elevador M.B.', 'Escada M.B.']

                    if (inferior.includes(key)) {
                        // Alinha a baixo
                        ctx.textBaseline = 'bottom';
                        ctx.fillText(key, centerX, y + 40);

                    } else if (esquerda.includes(key)) {
                        // Alinha a esquerda
                        ctx.textBaseline = 'middle';
                        ctx.textAlign = 'right'; // Texto à esquerda
                        ctx.fillText(key, x - 10, centerY);

                    } else if (direita.includes(key)) {
                        // Alinha a direita
                        ctx.textBaseline = 'middle';
                        ctx.textAlign = 'left'; // Texto à direita
                        ctx.fillText(key, x + width + 10, centerY);

                    } else {
                        // Alinha a cima
                        ctx.textBaseline = 'bottom';
                        ctx.fillText(key, centerX, y - 5);
                    }

                }

            });

            ctx.restore(); // Restaura o estado do canvas

        }

        andarDisplay.addEventListener('change', setAndar);

        canvas.addEventListener('mousedown', function (event) {
            const rect = canvas.getBoundingClientRect();
            const x = (event.clientX - rect.left) / scale;
            const y = (event.clientY - rect.top) / scale;

            const salas = positions[currentFloor];
            for (const [name, pos] of Object.entries(salas)) {
                if (x >= pos[0] && x <= pos[0] + 20 && y >= pos[1] && y <= pos[1] + 20) {
                    // Exibe a miniatura
                    let left = `${event.clientX}` - 250
                    let top = `${event.clientY}` - 20

                    const thumbnailImage = thumbnail.querySelector('img');
                    thumbnailImage.src = `/static/img/${name}.jpeg`;
                    thumbnail.style.left = left + 'px';
                    thumbnail.style.top = top + 'px';
                    thumbnail.style.transform = 'translate(-50%, -100%)';
                    thumbnail.style.display = 'block';
                    break;
                }
            }
        });

        canvas.addEventListener('mouseup', function (event) {
            thumbnail.style.display = 'none'; // Esconde a miniatura ao mover o mouse
        });


        draw();

        function setAndar() {
            const andarDisplay = document.getElementById('andar-display');
            const andarSelecionado = andarDisplay.value;

            // Atualiza o andar atual
            currentFloor = andarSelecionado;
            draw(); // Redesenha o canvas
        }
    });

</script>