<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rota</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        #mapaContainer {
            position: relative;
        }

        canvas {
            border: 1px solid #000;
            background-color: #fff;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #zoomButtons {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1000;
        }

        #zoomButtons button {
            margin: 5px;
            padding: 5px 10px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Rota para <span id="destinoDisplay"></span></h1>
    <div id="mapaContainer">
        <canvas id="mapaCanvas" width="800" height="600"></canvas>
        <div id="zoomButtons">
            <button id="zoomInButton">+</button>
            <button id="zoomOutButton">-</button>
        </div>
    </div>
    <button onclick="window.location.href='/'">Voltar</button>

    <script>

        function verificaAndar(andar) {
            if (andar == 0) {
                valor = 'Terreo';
            } else if (andar == 1) {
                valor = 'Primeiro';
            } else {
                valor = 'Segundo';
            }

            return valor;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const rotaCompleta = JSON.parse(localStorage.getItem('rota')) || [];
            const arestas = JSON.parse(localStorage.getItem('arestas')) || [];
            const andar = JSON.parse(localStorage.getItem('andares')) || [];
            const destino = localStorage.getItem('destino');
            const zoomInButton = document.getElementById('zoomInButton');
            const zoomOutButton = document.getElementById('zoomOutButton');
            let verifica = 0;
            let scale = 1;
            let currentFloor = '';
            let rota = [];
            let validaAndar = 0;
            let subiu = 0;
            let mb = 0;

            document.getElementById('destinoDisplay').textContent = destino;

            const canvas = document.getElementById('mapaCanvas');
            const ctx = canvas.getContext('2d');

            // Variáveis para panning
            let isPanning = false;
            let startX = 0;
            let startY = 0;
            let offsetX = 0;
            let offsetY = 0;

            // Evento para iniciar o panning
            /*canvas.addEventListener('mousedown', (e) => {
                isPanning = true;
                startX = e.clientX - offsetX;
                startY = e.clientY - offsetY;
            });

            // Evento para parar o panning
            canvas.addEventListener('mouseup', () => {
                isPanning = false;
            });

            canvas.addEventListener('mouseout', () => {
                isPanning = false;
            });

            // Evento para mover o canvas durante o panning
            canvas.addEventListener('mousemove', (e) => {
                if (isPanning) {
                    offsetX = e.clientX - startX;
                    offsetY = e.clientY - startY;
                    draw();
                }
            });

            // Eventos de toque para panning em dispositivos móveis
            canvas.addEventListener('touchstart', function (e) {
                isDragging = true;
                const touch = e.touches[0];
                dragStartX = touch.clientX - offsetX;
                dragStartY = touch.clientY - offsetY;
            });

            canvas.addEventListener('touchmove', function (e) {
                if (isDragging) {
                    const touch = e.touches[0];
                    offsetX = touch.clientX - dragStartX;
                    offsetY = touch.clientY - dragStartY;
                    draw();
                }
            });

            canvas.addEventListener('touchend', function () {
                isDragging = false;
            });

            // Eventos de zoom
            zoomInButton.addEventListener('click', function () {
                scale *= 1.2; // Aumenta a escala
                draw();
            });

            zoomOutButton.addEventListener('click', function () {
                scale /= 1.2; // Diminui a escala
                draw();
            });*/

            // Definindo as posições das salas para diferentes andares
            const positions = {
                "Terreo": {
                    "Portaria": [400, 550],
                    "C0": [400, 500],
                    "TI": [333, 500],
                    "Xerox": [216, 500],
                    "Lab. Info. Geral": [150, 550],
                    "Escada A": [100, 500],
                    "Escada B": [593, 100],
                    "Escada C": [700, 220],
                    "Escada D": [700, 500],
                    "Escada F": [295, 40],
                    "Elevador": [325, 40],
                    "C1": [150, 500],
                    "C2": [150, 465],
                    "C3": [150, 409],
                    "C4": [150, 353],
                    "C5": [150, 325],
                    "C6": [150, 298],
                    "C7": [150, 271],
                    "C8": [150, 222],
                    "C9": [150, 173],
                    "Ref./Cantina": [150, 150],
                    "C10": [255, 150],
                    "C11": [360, 150],
                    "C12": [400, 150],
                    "C13": [593, 150],
                    "Biblioteca": [650, 150],
                    "C14": [650, 185],
                    "C15": [650, 220],
                    "C16": [650, 325],
                    "C17": [650, 409],
                    "C18": [650, 465],
                    "C19": [650, 500],
                    "C20": [600, 500],
                    "C21": [255, 119],
                    "C22": [255, 71],
                    "C23": [295, 71],
                    "C24": [325, 71],
                    "C25": [255, 10],
                    "WC/Vest. M": [100, 222],
                    "WC/Vest. F": [100, 173],
                    "WC Familia": [360, 119],
                    "WC Cantina": [305, 119],
                    "Sala Prof.": [400, 119],
                    "Sala Prof. 1": [100, 298],
                    "Sala Prof. 2": [100, 271],
                    "Centro": [400, 325],
                    "Sala Estágio": [600, 550],
                    "Pastoral": [100, 465],
                    "Diretoria": [100, 409],
                    "Lab. AutoCad": [100, 353],
                    "Social": [700, 465],
                    "Secretaria": [700, 409],
                    "Coordenação": [700, 325],
                    "Cant. Leitura": [700, 185],
                    "Quadra": [70, 150],
                    "Sala Arquivo": [360, 71],
                    "Capela": [100, 550],
                    "Corredor S.J.": [70, 325],
                    "Estacionamento": [500, 10],
                    "Entrada Prédio M.B.": [130, 10],
                },
                "Primeiro": {
                    "Escada A": [100, 500],
                    "Escada B": [593, 100],
                    "Escada C": [700, 220],
                    "Escada D": [700, 500],
                    "Escada F": [295, 40],
                    "Elevador": [325, 40],
                    "C26": [50, 500],
                    "Sala 201": [100, 400],
                },
                "Segundo": {
                    "Escada F": [295, 40],
                    "Elevador": [325, 40],
                    "C28": [50, 500],
                    "Sala 301": [100, 400],
                },
                "MB": {
                    "Entrada Prédio M.B.": [400, 500],
                    "Oficina/Aero Unisal": [400, 200],
                    "C101": [400, 410],
                    "Lab. Mec./Projeto": [330, 410],
                    "Saida Prédio M.B.": [480, 410],
                    "C102": [400, 375],
                    "Escada M.B.": [480, 375],
                    "C103": [400, 340],
                    "Lab. Mecanica": [330, 340],
                    "Elevador M.B.": [480, 340],
                    "C104": [400, 285],
                    "Banheiros": [480, 285],
                    "C105": [560, 410],
                    "Lab. Civil": [560, 100],
                    "C106": [330, 100],
                    "Estacionamento": [630, 285],
                },
                "MB1": {
                    "Escada M.B.": [480, 340],
                    "C107": [400, 340],
                    "MB09": [400, 250],
                }
            };


            // Função para desenhar o mapa
            function draw() {
                let verifica = andar.length; // Inicializa verifica com o valor padrão (comprimento do array)

                for (let i = 1; i < andar.length; i++) {
                    if (andar[i] !== andar[i - 1]) {
                        verifica = i; // Atualiza verifica quando encontrar uma diferença
                        break;
                    }
                }

                let destinoFinal = andar.length - 1

                let changePositions = []

                for (let i = 1; i < andar.length; i++) {
                    if (andar[i] !== andar[i - 1]) {
                        changePositions.push(i);
                    }
                }

                currentFloor = verificaAndar(andar[0]);

                // Não sei oq foi feito aqui mas funciona
                if (currentFloor == "Terreo") {
                    if ((andar[destinoFinal] == 0 || andar[destinoFinal] == 1) && subiu == 0) {
                        rota = rotaCompleta.slice(0, verifica);
                        subiu = 1;

                    } else if (andar[destinoFinal] == 2 && subiu == 0) {
                        if (currentFloor == "Terreo") {
                            rota = rotaCompleta.slice(0, verifica);
                            subiu = 1
                        }

                    } else if ((andar[destinoFinal] == "MB" || andar[destinoFinal] == "MB1") && subiu == 0) {
                        if (currentFloor == "Terreo") {
                            rota = rotaCompleta.slice(0, verifica);
                            subiu = 1
                        }
                    } else {
                        if (andar[destinoFinal] == 2) {
                            currentFloor = "Segundo";
                            rota = rotaCompleta.slice(verifica - 1);

                            console.log(2);


                        } else if (andar[destinoFinal] == 1) {
                            currentFloor = "Primeiro";
                            rota = rotaCompleta.slice(verifica - 1);

                            console.log(1);


                        } else if (andar[destinoFinal] == "MB") {
                            currentFloor = "MB";
                            rota = rotaCompleta.slice(verifica - 1);

                        } else if (andar[destinoFinal] == "MB1") {
                            rota = rotaCompleta.slice(changePositions[0] - 1, changePositions[1]);
                            currentFloor = "MB";
                        
                        }

                        subiu = 0;

                    }

                } else if (currentFloor == "Primeiro") {
                    rota = rotaCompleta.slice(verifica - 1)

                }

                // console.log(andar[destinoFinal]);
                // console.log(rota);
                // console.log(currentFloor);
                // console.log(andar[destinoFinal]);
                // console.log(mb);



                ctx.clearRect(0, 0, canvas.width, canvas.height); // Limpa o canvas

                // Aplica o deslocamento
                ctx.save();
                ctx.translate(offsetX, offsetY);
                ctx.scale(scale, scale);

                // Desenhar as arestas
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 1;
                arestas.forEach(([u, v, weight]) => {
                    if (positions[currentFloor][u] && positions[currentFloor][v]) {
                        const [x1, y1] = positions[currentFloor][u];
                        const [x2, y2] = positions[currentFloor][v];
                        ctx.beginPath();
                        ctx.moveTo(x1 + 10, y1 + 10);
                        ctx.lineTo(x2 + 10, y2 + 10);
                        ctx.stroke();
                    }
                });

                // Desenhar as salas
                ctx.fillStyle = 'lightgrey';
                ctx.strokeStyle = 'black';
                ctx.lineWidth = 2;

                Object.keys(positions[currentFloor]).forEach(key => {
                    const [x, y] = positions[currentFloor][key];
                    const width = 20;
                    const height = 20;
                    const centerX = x + width / 2;
                    const centerY = y + height / 2;

                    // Verificar se é uma escada e mudar a cor para verde se estiver na rota
                    if (rota.includes(key) && (key.startsWith('Escada') || key.startsWith('Entrada'))) {
                        ctx.fillStyle = 'green';

                        // Tornar a escada clicável apenas se estiver na rota
                        canvas.addEventListener('click', function clickHandler(event) {
                            const rect = canvas.getBoundingClientRect();
                            const clickX = event.clientX - rect.left;
                            const clickY = event.clientY - rect.top;

                            if (
                                clickX >= x + offsetX &&
                                clickX <= x + offsetX + width &&
                                clickY >= y + offsetY &&
                                clickY <= y + offsetY + height
                            ) {

                                if (andar[destinoFinal] == 0) {
                                    currentFloor = 'Terreo'

                                } else if (andar[destinoFinal] == 1 || andar[destinoFinal] == 2) {
                                    if (validaAndar == 0) {
                                        currentFloor = 'Primeiro';
                                        validaAndar = 1;
                                    } else {
                                        if (andar[destinoFinal] == 2) {
                                            currentFloor = 'Segundo';
                                        } else {
                                            currentFloor = 'Primeiro';
                                        }
                                    }

                                } else if (andar[destinoFinal] == "MB" || andar[destinoFinal] == "MB1") {
                                    if (validaAndar == 0) {
                                        currentFloor = 'MB';
                                        validaAndar = 1;
                                    } else {
                                        if (andar[destinoFinal] == "MB1") {
                                            currentFloor = 'MB1';
                                            
                                        } else {
                                            currentFloor = 'Terreo';
                                        }

                                        validaAndar = 0;
                                    }

                                } else {
                                    if (validaAndar == 0) {
                                        currentFloor = 'Segundo';
                                        validaAndar = 1;
                                    } else {
                                        currentFloor = 'Terreo'
                                        validaAndar = 0;
                                        
                                    }

                                }

                                // console.log(andar[destinoFinal]);
                                // console.log(currentFloor);
                                

                                draw();
                                // Remove o listener de clique para evitar múltiplas execuções
                                canvas.removeEventListener('click', clickHandler);
                            }
                        });

                    } else {
                        ctx.fillStyle = 'lightgrey';
                    }

                    ctx.beginPath();
                    ctx.rect(x, y, width, height);
                    ctx.fill();
                    ctx.stroke();

                    ctx.fillStyle = 'black';
                    ctx.font = '12px Arial';
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'bottom';
                    ctx.fillText(key, centerX, y);
                    ctx.fillStyle = 'lightgrey';

                });

                // Desenha a rota com uma linha vermelha
                if (rota.length > 0) {
                    ctx.strokeStyle = 'red';
                    ctx.lineWidth = 5;
                    ctx.beginPath();

                    const start = positions[currentFloor][rota[0]];

                    ctx.moveTo(start[0] + 10, start[1] + 10);

                    rota.slice(1).forEach(room => {
                        const point = positions[currentFloor][room];
                        ctx.lineTo(point[0] + 10, point[1] + 10);
                    });

                    ctx.stroke();

                    // Desenha a seta na ponta da rota
                    const [endX, endY] = positions[currentFloor][rota[rota.length - 1]];
                    const [startX, startY] = positions[currentFloor][rota[rota.length - 2]];
                    drawArrow(ctx, startX + 10, startY + 10, endX + 10, endY + 10);

                }

                ctx.restore();
            }

            function drawArrow(ctx, startX, startY, endX, endY, arrowSize = 20) {
                const angle = Math.atan2(endY - startY, endX - startX);

                ctx.fillStyle = 'red';
                ctx.beginPath();
                ctx.moveTo(endX, endY);
                ctx.lineTo(
                    endX - arrowSize * Math.cos(angle - Math.PI / 6),
                    endY - arrowSize * Math.sin(angle - Math.PI / 6)
                );
                ctx.lineTo(
                    endX - arrowSize * Math.cos(angle + Math.PI / 6),
                    endY - arrowSize * Math.sin(angle + Math.PI / 6)
                );
                ctx.closePath();
                ctx.fill();
            }


            draw();
        });
    </script>
</body>

</html>